<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bmtfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/85c66763-9f02-4ebc-8447-35ba364edeb0/resourceGroups/BMTTesser/providers/Microsoft.Web/sites/bmtfunction</ResourceId>
    <UserName>$bmtfunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bmtfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>